<!DOCTYPE html>
<html>
<head>
	<title><%= full_title yield(:title) %></title>  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Ubuntu:700' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic' %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>

	<%= yield %>
	
	<%= render 'layouts/footer' %>
</body>
</html>
